<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><?php echo $demo; ?></title>
</head>
<body>
<div>Hello to {{ model.user }} with id {{ model.id }}</div>
</body>
</html>
